<div class="container-fluid" style="margin-top:130px">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1>Resultados</h1>
      <br><br><br>
      <ul class="list-group">
        <li class="list-group-item">Tasa de negocio: <%= @operation_cost["document_rate"] %></li>
        <li class="list-group-item">Comisión de la operación <%= @operation_cost["commission"]%></li>
        <li class="list-group-item">Porcentaje de anticipo <%= @operation_cost["advance_percent"]%></li>
      </ul>
    </div>
  </div>

</div>